body {
  background-color: #17202a !important;
  margin: 0;
  font-family: "Marvel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-light {
  background-color: #17202a !important;
}

img {
  width: 5%;
  padding: 0, 5rem;
}

.lista {
  display: flex;
  list-style: none;
  flex-direction: row;
}

li {
  margin: 1rem;
}

.navbar-nav {
  flex-direction: row;
  padding-left: 3rem;
}

.navbar-brand {
  padding: 1rem;
}

.col {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

h2 {
  display: flex;
  justify-content: center;
  color: #2471a3 !important;
}

h3 {
  color: #2471a3 !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #17202a !important;
  border: none !important;
}

a {
  text-decoration: none !important;
}

.btnSend {
  display: flex;
  justify-content: flex-end;
}

p {
  color: white;
}

.form-header {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
